# Entorno virtual
env/
venv/
__pycache__/
*.pyc

# Archivos de configuración de Python
*.pyo
*.pyd
*.db
*.sqlite3

# Archivos de configuración de Django
*.log
*.pot
*.pyc
*.pyo
*.db

# Archivos y directorios temporales
*.bak
*.swp
*.swo
*.idea/
*.vscode/

# Archivos de compilación de Python
*.egg
*.egg-info
dist/
build/

# Migraciones
*/migrations/

# Configuración de Django para el archivo de secret keys (como settings.py)
# Puedes también ignorar el archivo local de configuración si no lo quieres subir a git
config/settings_local.py

# Si usas PyCharm o algún IDE
.idea/

# Archivos de configuración de sistemas operativos
.DS_Store

# Archivos de configuración de editor (por ejemplo, VIM)
*~

# Configuración de Docker
logs/
*.log
docker-compose.yml
Dockerfile.postgres
Dockerfile
*.pid

# Configuración de base de datos y migraciones temporales
db.sqlite3
*.sqlite3-journal
migrations/**/__pycache__

# Archivos de caché
staticfiles/
media/