Django          # Framework para backend de Python
PyJWT           # Para la gestión de JSON Web Tokens
daphne          # Servidor
channels        # WebSockets y canales desarrollo
channels_redis  # WebSockets y canales despliegue
psycopg2-binary # Conector dde PostgreSQL con Python
Pillow          # Manipular imágenes de perfil